services:
  node:
    build:
      args:
         NODE_VERSION: ${NODE_VERSION}
         ORACLE_VERSION: ${ORACLE_VERSION}
      dockerfile: Dockerfile
      context: .
    ulimits:
      nofile:
        soft: 65535
        hard: 65535
    restart: unless-stopped
    working_dir: /root
    networks:
      initia:
    env_file:
      - .env
    logging:
      options:
        max-size: "12m"
        max-file: "5"
    command:
      - start
      - --p2p.laddr
      - "tcp://0.0.0.0:26656"
      - --rpc.laddr
      - "tcp://0.0.0.0:26657"
      - --p2p.seeds
      - ${SEEDS}
      - --p2p.persistent_peers
      - ${PERSISTENT_PEERS}
      - --p2p.external-address
      - ${EXTERNAL_IP}:26656
    volumes:
      - ./init.sh:/init.sh
      - type: volume
        source: node_data
        target: /root
    ports:
      - "${P2P_PORT}:26656" # p2p
      - "${RPC_PORT}:26657"
  oracle:
    build:
      args:
         NODE_VERSION: ${NODE_VERSION}
         ORACLE_VERSION: ${ORACLE_VERSION}
      dockerfile: Dockerfile
      context: .
    ulimits:
      nofile:
        soft: 65535
        hard: 65535
    restart: unless-stopped
    working_dir: /root
    networks:
      initia:
    env_file:
      - .env
    logging:
      options:
        max-size: "12m"
        max-file: "5"
    entrypoint: slinky
    command:
      - --oracle-config-path
      - /configs/oracle.json
      - --market-map-endpoint
      - node:9090
    volumes:
      - ./oracle.json:/configs/oracle.json
      - type: volume
        source: oracle_data
        target: /root
    ports:
      - "${ORACLE_GRPC_PORT}:8080"
volumes:
  node_data:
  oracle_data:
networks:
  initia:
